<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Reservas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/image/LOGO-RIF-1.png" type="png" size=20px>
  </head>

  <body>
    <img class="logo" src="/image/LOGO-RIF-1.png" alt="logo"></img>
    <h1>Sistema de Reservas</h1>
    <p>Este es un sistema el cual lleva registros de los equipos disponibles y no disponibles de la sala audiovisual, asi como tambien de los usuarios que tienen una reserva activa de tal equipo y sus registros.</p>
    <h1>Integrantes:</h1>
    <p>➤ Juan Sarmiento</p>
    <p>➤ Jose Camacho </p>
    <p>➤ Carlos Pimineto</p>
    <p>➤ Elias Guillen</p>

  </body>
</html>