body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0%;
}
.id{
  width: 2cm;
}
.fecha{
  width: 3cm;
}
.pt{
  width: 5cm;
}
.reserva{
  width: 5cm;
}
.equipo{
  width: 5cm;
}
.trabajo{
  width: 5cm;
}
.serial{
  width: 2cm;
}
.nombre{
  width: 4cm;
}
.descripcion{
  width: 7cm;
}
.estatus{
  width: 4cm;
}
.logo{
 width: 4cm;
}